@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LibMaster</h1>
    <p>A library management system is your gateway to effortlessly finding books within a library's extensive collection. With this system, you'll have quick access to an organized catalog of every book in the library, sorted by categories and authors</p>
    <img src="~/images/books.jpg" alt="library img " />
</div>
